/*
.bookin-white-block (+.active)
                simble block
                or with active-class (orange border, orange border in input-block)
    .block-blue-back (+.active)
                simple block (transparent background, padding)
                or with active-class (blue background, border-top, border-bottom)
        .bookin-title
    .bookin-white-block-in - block (white background, padding)
    .bookin-block-bottom - Button (gray background, padding)

.bookin-transparent-block
    .gray-block
*/

.bookin-white-block a {
    color: #FF5A5F;
    &:hover {
        color: #ff333a;
    }
}
.menu-step {
    background: #fff;
    position: relative;
    padding: 50px;
    a {
        text-decoration: none;
    }
    p {
        color: #9B9B9B;
        font-weight: 600;
    }
    .row {
        margin: 0;
    }
    .round {
        color: white;
        width: 30px;
        height: 30px;
        margin: 20px auto;
        left: 0;
        right: 0;
        border-radius: 50%;
        padding-top: 2px;
        background: #E1E5E5;
    }
    .active {
        color: #FF5A5F;
        .round {
            background: #FF5A5F;
        }
        p {
            color: #FF5A5F;
        }
    }
    .next {
        p {
            font-weight: 400;
        }
    }
    &:after {
        background: #fff;
    }
    &:before {
        content: "";
        width: 60%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        background: #E1E5E5;
        margin: auto;
        top: 85px;
    }
}
@media all and (max-width: 540px) {
    .menu-step {
        display: none;
    }
}
.form-control {
    border: 2px solid #CCC;
    box-shadow: none;
    &:focus {
        border: 2px solid #4A90E2!important;
        box-shadow: 0 0 4px rgba(74,144,226,.5);
    }
}
.bookin-white-block {
    color: #696C6F;
    background: #fff;
    border: 1px solid #E1E5E5;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(233,231,231,.5);
    margin: 20px 0;
}
/*
.bottom-border {
    border-bottom: 1px solid #E1E5E5;
}
*/
.bookin-white-block-in {
    padding: 20px;
}
// ================= BLUE
.block-blue-back {
    .btn {
        display: none;
    }
}
.block-blue-back.active {
    background: #F3F8FF;
    border-bottom: 1px solid #E1E5E5;
    border-top: 1px solid #E1E5E5;
        .btn {display: inline-block;}
    }
// === === === == == == == = = = 
.bookin-title {
    font-weight: 700;
    font-size: 18px;
    color: #696C6F;
    margin-bottom: -15px;
}
.bookin-block-bottom {
    color: #696C6F;
    font-weight: 700;
    background: #EEEEEE;
    width: 100%;
    text-align: center;
    border: 0;
    line-height: 50px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-control {
    color: #696C6F;
}
.form-control[disabled] {
    color: #9B9B9B;
}
/*
.btn {
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    border: 0;
    &.big {
        height: 49px;
    }
}
*/
.btn-block+.btn-block {
    margin-top: 15px;
}
.padd {
    padding: 30px 20px;
    h3 {
        font-weight: 400;
        margin-top: 0;
    }
}
/*
.btn-no-def {
    width: 116px;
}
.btn-default {
    background-color: #F1F1F1;
    border-bottom: 2px solid #ACACAC;
    color: #696C6F;
}
.btn-primary {
    background-color: #4A90E2;
    border-bottom: 2px solid #29588F;
}
*/
.details {
    padding-left: 30px;
    p {
        margin-bottom: 0;
    }
}
.delete-block {
    
    border-bottom: 1px solid #E1E5E5;
    position: relative;
    &:hover {
        .trash {
            opacity: 1;
        }
    }
    .title {
        font-size: 18px;
        margin-bottom: 5px;
        i {
            margin-right: 10px;
            margin-top: -3px;
        }
    }
    p {
        color: #696C6F;
        margin-bottom: 0;
    }
    .trash {
        transition: opacity .3s;
        opacity: 0;
        background-color: transparent;
        border: 0;
        top: 20px;
        right: 20px;
        position: absolute;
        font-size: 21px;
        &:hover {
            color: #FF5A5F;
        }
    }
}
.label-title {
    label {
        background: #EEE;
        padding: 0 10px 0 30px;
        border-radius: 6px;
        margin-bottom: 4px;
        input {
            margin-top: 6px;
        }
    }
}
.block-orange-border {
    .need {
        display: none;
        margin-left: 50px;
        label {
            background: none;
        }
        color: #696C6F;
        p {
            margin-bottom: 0;
        }
    }
    .notif {
        background: #FFF9DE;
        color: #B5871A;
        padding: 20px;
        font-size: 14px;
        display: none;
    }
    span.right {
        float: right;
        text-align: right;
    }
    button {display: none}
    .red {
        color: #FF5A5F;
    }
    &.active {
        border: 2px solid #DBB755;
        .notif, .need {display: block}
    input, select {
        border: 2px solid #DBB755
    }
    }    
}
.block-3{
    position: relative;
    label {
        background: #EEE;
        padding: 0 10px 0 30px;
        border-radius: 6px;
        margin-top: -4px!important;
        input {
            margin-top: 6px;
        }
    }
    .need {
        display: none;
        margin-left: 80px;
        p {
            margin: 30px 0;
            &.light {
                font-size: 12px;
                font-weight: 300;
                margin: 10px 0;
            }
        }
        a{
            color: #F7614B;
        }
        input {
            border: 2px solid #ccc;
            box-shadow: none;
        }
    }
    img {
        width: 65px;
        position: absolute;
        left: 25px;
    }
    &.active {
        .need {display: block}
    }    
}
.bookin-transparent-block {
    border-bottom: 2px solid #DEDEDF;
    h4 {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
        color: #696C6F;
    }
    h5 {
        
        font-size: 15px;
        font-weight: 700;
        color: #696C6F;
        margin-left: 5px;
    }
    p {
        color: #696C6F;
        margin-bottom: 0px;
        
    }
    .right {
        text-align: right;
        float: right;    
        a {
            font-size: 12px;
            font-weight: 400;
        }
    }
    .cost-right {
        font-size: 16px;
        font-weight: 700;
        color: #696C6F;
        text-align: right;
    }
    .gray-block {
        background: #E7E7E7;
        border-radius: 2px;
        padding: 5px 10px;
        margin: 10px 0;
    }
    .title-o {
        margin-top: 20px;
    }
}
data {
    i {
        margin-right: 5px;
    }
}
.media-body {
    p.light {
        color: #A2A2A2;
        font-size: 12px;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 12px;
    }
    
}
#ex1Slider .slider-selection {
	background: #FF5A5F;
}
.prepay {
    h5 {
        color: #696C6F;
    }
    .pay-now {
        left: 0;
        right: 0;
        margin: 20px auto;
        width: 210px;
        a {
            color: #FF5A5F;
            font-size: 12px;
            span {
                border: 2px solid #ff5a5f;
                border-radius: 50%;
                padding: 0 6px;
                margin-left: 5px;
            }
        }
    }
}