.success-mess {
    background: #CBF0E0;
    z-index: 1;
    h2 {
        color: #61C697;
        line-height: 30px!important;
    }
    &:after {
        background: #CBF0E0;
    }
}
.row {
    position: relative;
    padding: 50px 0;
    margin: 0;
}
.contacts-1 {
    background: #fff;
    color: #7C7F83;
    h5 {
        color: #696C6F;
    }
    a {
        color: #FF5A5F;
    }
    p {
        margin: 0;
    }
    .red {color: #FF5A5F}
    .green {color: #3BDCC4}
    .violet {color: #CB3BE6}
    .col-sm-4 {
        margin-top: 20px;
    }
}
.contacts-2 {
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    h5{
        color: #696C6F;
        &.right {
            text-align: right;
        }
    }
    p {
        color: #696C6F;
    }
    &:before {
        background: #fff;
    }
    .row {
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    .per {
        .person-foto {
            margin: 12px 0 10px -10px;;
        }
        p {
            font-size: 13px;
            margin: 0;
            line-height: 18px;
        }
        .name {
            font-weight: 600;
        }
    }
}
.contacts-3 {
    color: #fff;
    background: #FF7277;
    
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .col-xs-4 {
        padding-left: 0;
        padding-right: 7px;
    }
    .col-xs-8 {
        padding-right: 0;
        padding-left: 7px;
    }
    
    .button {
        background: #fff;
        color: #F96B6F;
        &:hover {
            background: #eee;
        }
    }
    &:before {
        background: #F5F5F5;
    }
}

.contacts-4 {
    padding: 55px 20px;
    min-width: 0px;
    background-image: url(../img/evening_cours.png);
    p {
        color: #fff;
        font-size: 25px;
        line-height: 34px;
        span {
            background: rgba(0,0,0,.38);
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .round-yob-ya-vashego-designera {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 18px;
        background: url(../img/designer.svg) center;
    }
    &:before {
        background: #FF7277;
    }
}
.phone-cons {
    h2 {
        color: #fff;
    }
    .testimonials .mass-icon {
        border-color: #fff;
    }
}