@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font-face {
  font-family: Kavoon-regular;
  src: local("Kavoon"),
       url(/fonts/Kavoon-Regular.ttf);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}
h1 {
    font-family: "Kavoon-regular";
    font-size: 55px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    line-height: 134px;
}
.slogan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    letter-spacing: -0.7px;
    line-height: 38px;
}
h2 {
    font-family: "Kavoon-regular";
    font-size: 30px;
    color: #696C6F;
    line-height: 38px;
    line-height: 100px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #696C6F;
    line-height: 35px;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #696C6F;
    line-height: 26px;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
}
a.button {
    padding-top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    text-align: center;
    &.red {
        width: 257px;
        height: 49px;
        font-size: 18px;
        background: #FF5A5F;
        border-radius: 2px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 2px solid #E30010;
        color: #FFF;
        cursor: pointer;
        &:hover {
            background: #FF7D80;
        }
    }
    &.white {
        width: 231px;
        height: 48px;
        font-size: 18px;
        background: #fff;
        border-radius: 2px;
        border: 1px solid #D8D8D8;
        color: #696C6F;
        cursor: pointer;
        &:hover {
            border: 1px solid #aaa;
        }
    }
}

// ================= Navbar ====================
.navbar-theme {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #696C6F;
    opacity: 0.78;
    border-radius: 0;
    .navbar-toggle {
        border-color: #696C6F;
    }
    .container-fluid {
        padding: 0;
        .navbar-collapse {
            padding: 0;
        }
    }
    .navbar-nav {
        li {
            a {
                color: #fff;
                &:hover, &:focus {
                    background-color: #4A4A4A;
                }
            }
        }
    }
}

.navbar-toggle {
    border: 1px solid #696C6F;
    margin-top: 50px;
    z-index: 5;
    &.navbar-toggle-visible {
        border: 1px solid #fff;
        .icon-bar {
            background: #fff;
        }
    }
    .icon-bar {
        background: #696C6F;
    }
}


// ================ Chat ===============

.help-chat {
    position: fixed;
    right: 10px;
    top: 40%;
    .bocadilo {
        position: absolute;
        background: #FFFFFF;
        border: 2px solid #E8E8E8;
        border-radius: 6px;
        width: 175px;
        height: 45px;
        display: inline-block;
        padding-top: 8px;
        text-align: center;
        font-size: 14px;
        color: #696C6F;
        right: 65px;
        top: 3px;
        &:after {
            content: " ";
            position: absolute;
            border: 8px solid transparent;
            border-left: 8px solid #fff;
            right: -16px;
            top: 12px;
        }
        &:before { 
            content: " ";
            position: absolute;
            border: 8px solid transparent;
            border-left: 8px solid #E8E8E8;
            right: -18px;
            top: 12px;
        }
    }
    .chat-icon {
        background: url(/img/bocadillo.png) #FF5A5F no-repeat center;
        border: 1px solid #000000;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display: inline-block;
    }
}

// ================ Second nav ================
.second-nav > li {
    
    float: left;
    display: block;
}
.second-nav > li > a {
        color: #fff;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #fff;
    }
.second-nav {
    background: rgba(86, 90, 92, .67);
    list-style: none;
    position: absolute;
    border-radius: 30px;
    padding-left: 0;
    .dropdown-toggle > img {
        width: 20px;
        height: 12px;        
        margin-bottom: 2px;
        margin-right: 4px;
    }
    .dropdown-menu {
        width: 170px;
        background-color: rgba(86, 90, 92, 0.67);
        border: none;
        border-radius: 4px;
        box-shadow: none;
        a {            
            color: #fff;
            font-size: 13px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}