@media all and (max-width: 991px) { //переход в режим планшета
    .step-item {
        padding-left: 15px;    
        padding-right: 15px;    
        img {
        display: none;
        }
    }
    .container {
        width: 100%;
    }
    .social {
        margin-left: auto;
    }
    .copyright {
        text-align: center;
    }
    .help-chat .bocadilo {
        display: none;
    }
    .container {
        padding: 0;
        margin-top: 100px;
    }
    header {        
        position: fixed!important;
        height: 100px;
        background: #fff;
        .logo {
            top: -10px;
        }
        .second-nav {
            top: 55px!important;
            left: auto!important;
            right: 100px;
        }
    }
    .mobile-menu-wrapper {
        display: block!important;
        width: 288px;
        transition: all 0.3s ease-in-out;
        position: fixed;
        left: 100%;
        top: 0;
        height: 100%;
        z-index: 4;
        background: #696C6F;
        min-height: 0;
        box-sizing: border-box;
    }
    .mobile-menu-wrapper--visible {
        transform: translateX(-288px)
    }
    .menu-first {
        height: 100px;
        img {
            margin-top:41px;
        }
    }
    .navbar-theme {
        display: none;
    }
    .navbar-toggle {
        display: block;
    }
    .first {
        padding-bottom: 0;
    }
    
    .accomodations {
        .th {
            display: none;
        }
    }
}
@media all and (max-width: 1199px) {
    .accomodations {
        .content {
            height: 266px;
        }
    }
    .courses {
        .content {
            height: 287px;
            .cost-hover ul li {
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }
    .del {
        display: none;
    }
    .certificated {
        display: none;
    }
    .container-fluid {
        width: 890px!important;
    }
    .navbar-theme .navbar-nav li a {
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .navbar-theme .navbar-nav {
        padding-left: 3px;
    }
    .panel-group {
        width: 778px!important;
    }
}
@media all and (min-width: 635px) { // До этой ширины блоки co-sm-* еще должны отображаться в строку
    /*
    .col-sm-4 {
        width: 33.33333333%;
        float: left;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
    }
    */
}
@media all and (max-width: 767px) { // Tablets < 768px

    .left-to-center {
        .media-left {
            left: 0;
            right: 0;
            margin: auto auto 20px!important;
            display: block;
            float: none;
        }
        .media-body {
            text-align: center;
        }
    }
    .menu {
        .media {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            margin-bottom: 50px;
        }
        .button {
            text-align: center;
            position: relative;
            margin: 0!important;
        }
        .btn {
            padding: 7px;
        }
    }
    .panel-group {
        padding: 30px 15px 40px!important;
    }
    #faq-title {
        padding: 0;
    }
}
@media all and (max-width: 854px) {
    .second-nav > li > .no-tablet {
        display: none;
    }
}
    
@media all and (max-width: 540px) { //Mobile
    .container {
        margin-top: 65px;
    }
    header {        
        position: fixed!important;
        height: 65px;
        .second-nav {
            display: none;
        }
        .logo {
            width: 120px;
            height: 120px;
            left: 20px;
            top: -20px;
            img {
                width: 96px;
                height: 73px;
                position: absolute;
                top: 24px;
            }
        }    
    }
    .navbar-toggle {
        margin-top: 15px;
    }
    
    .menu-first {
        height: 65px;
        img {
            margin-top: 6px;
        }
    }
    .scroll {
        top: 65px!important;
    }
}
