@media all and (max-width: 991px) {
    .step-item {
        padding-left: 15px;    
        padding-right: 15px;    
        img {
        display: none;
        }
    }
}
@media all and (max-width: 1199px) {
    .accomodations .th {
        display: none;
    }
    .del {
        display: none;
    }
}
@media all and (min-width: 635px) { // До этой ширины блоки co-sm-* еще должны отображаться в строку
    /*
    .col-sm-4 {
        width: 33.33333333%;
        float: left;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
    }
    */
}
@media all and (max-width: 767px) {
    .social {
        margin-left: auto;
    }
    .copyright {
        text-align: center;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .help-chat .bocadilo {
        display: none;
    }
}