@media all and (max-width: 991px) {
    .step-item {
        padding-left: 15px;    
        padding-right: 15px;    
        img {
        display: none;
        }
    }
}
@media all and (min-width: 635px) {
    .step-item {
        width: 33.33333333%;
        float: left;
    }
}
@media all and (max-width: 767px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}